@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    background: #d73f22 url(/images/mars_curiosity.jpg) no-repeat center center fixed; 
    color: rgba(255,255,255, 0.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    @apply text-center pt-5;
}

a {
    @apply text-sky-400 hover:text-sky-300 hover:underline;
}

a img {
    margin: auto;
    display: block;
    border-radius: 8px;
    border-width: 2px;
    @apply shadow-md shadow-neutral-800;
}

li a {
    @apply px-4 py-3 bg-slate-800 hover:bg-slate-900 rounded-lg;
}

li {
    @apply p-5;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title {
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: white;
    font-size: 10vw;
    font-size: clamp(32px, 9vw, 80px);
    margin: 24px 0;
    color: #444;
}

h2 {
    color: white;
    font-size: clamp(16px, 4vw, 24px);
    font-weight: bold;
    background-color: #d73f22;
    margin: 48px 11% 0;
    padding: 12px;
}

h3.subtitle {
    font-size: clamp(16px, 3vw, 20px);
    background-color: rgba(255,255,255,.75);
    color: #333;
    font-weight: normal;
    padding: 12px;
    margin: 48px 11% 0;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 48px;
}

.iframe-container iframe {
    border: 0;
    position: absolute;
    width: calc(80% - 16px);
    height: calc(80% - 16px);
    left: calc(10% + 8px);
    top: 0;
    border-radius: 4px;
    @apply shadow-md shadow-neutral-800;
}

fieldset, legend {
    @apply bg-sky-400 rounded-lg border-2 border-white p-3 text-white;
}

fieldset {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

fieldset ul {
    text-align: left;
    @apply list-disc;
}

fieldset ul {
    @apply mx-6 mb-4;
}

fieldset li {
    @apply p-1;
}
